<div class="jumbotron">
    <h1>City coords API</h1>
    <p class="lead">City coords API is a free API, which returns coordinates of the given city</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Info</h2>
        <p>This API was created for educational purposes, so I could get familiar with HTML methods. Its database contains only few hundreds of Polish cities.</p>

    </div>
</div>
